html {
    display: flex;
    justify-content: center;
}

body {
    width: 1160px;
}

header section {
    background-color: #782221;
    background-size: cover;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
}

header section h1 {
    display: flex;
    justify-content: center;
}

header section h2 {
    display: flex;
    justify-content: center;
}

header address {
    background-color: #2c1d27;
    background-size: cover;
    width: 1160px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

main {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

main h2 {
    background-color: #dbc2a4;
}

.main__aboutme {
    background-color: #782221;
    background-size: cover;
    width: 400px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-self: center;
}

.main__profile {
    width: 760px;
    border-right-style: solid;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

footer {
    background-color: #782221;
    background-size: cover;
    width: 1160px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

footer section {
    width: 300px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;    
    justify-content: space-evenly;
}